.headerName {
  font-family: "lobster";
  font-size: 100px;
  text-align: center;
  color: var(--color2);
  /* margin-bottom: 10%; */
}

.headerName:hover {
  color: var(--color2hover);
  cursor: pointer;
}

.headerBox {
  margin-bottom: 10%;
}
